<div class = "container">
  <div class = "row my-5"></div>
  <div class = "row my-2">
    <div class = "col-md-3"></div>
    <h4>管理者ログイン</h4>
  </div>
<div class = "row">
  <div class = "col-md-3"></div>
<%= form_with model: @admin, url: admin_session_path do |f| %>
          <table>
              <tr>
              <th class = "font-weight-normal pr-5"><%= f.label :email, "メールアドレス" %></th>
                  <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
              </tr>

              <tr>
                <th class = "font-weight-normal pr-5">
                <%= f.label :password, "パスワード" %></th>
                <td><%= f.password_field :password, autocomplete: "current-password" %></td>
              </tr>

               <tr>
                <th class = "font-weight-normal pr-5"></th>
              <td><%= f.submit "ログイン", class: "btn btn-warning px-5 my-4"  %></td>
              </tr>
            </table>
            <% end %>
</div>
</div>


<%= render "admin/shared/links" %>
