<div class = "container">
  <div class = "row my-2">
    <%= link_to :back do %>
      <button type="button" class="btn btn-outline-warning text-md-block px-2 m-3">＜ 戻る</button>
      <% end %>
  </div>

  <div class = "row">
    <h4 class = "bg-light text-center px-4 my-4 "><%= @review.user.name %>さんの投稿日記編集</h4>
  </div>

  <%= form_with model: [@onsen, @review], url: admin_onsen_review_path(@review.onsen, @review.id), method: :patch  do |f| %>
    <div class = "row">
      <div class = "col-md-2"></div>
     <div>＜日記の内容＞<br>
     <%= f.text_area :review, class: 'form-control',size: "40x5" %></div>
    </div>

    <div class = "row mt-4">
      <div class = "col-md-2"></div>
      <div class = "col-md-3">
        <%= f.submit '変更を保存', class:"btn btn-warning" %>
      </div>
    </div>
  <% end %>

</div>
