<div class = "container">
  <div class = "row">
    <div class = "col-md-1"></div>
    <h4 class = "bg-light text-center px-4 my-4 ">投稿日記詳細</h4>
  </div>

  <div class = "row">
    <table class = "mb-4">
      <tr>
        <th class = "pr-3">投稿者</th>
        <td><%= @review.user.name %></td>
      </tr>
      <tr>
        <th class = "pr-3">投稿日</th>
        <td><%= @review.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th class = "pr-3 align-top">日記の内容</th>
        <td><%= @review.review %></td>
      </tr>
      <tr>
        <th class = "pr-3">星評価</th>
        <td>
          <span id="star-rate-<%= @review.id %>"></span>
            <script>
              $('#star-rate-<%= @review.id %>').raty({
                size: 36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: <%= @review.rate %>,
              });
            </script>
            <%= @review.rate %>
        </td>
      </tr>
    </table>

      <div class = "col-md-5 text-md-block text-center">
        <%= link_to edit_admin_onsen_review_path(@review.onsen, @review.id) do %>
          <button type="button" class="btn btn-success text-md-block px-4 m-3">編集する</button>
        <% end %>
      </div>
　    <%= link_to :back do %>
        <button type="button" class="btn btn-success text-md-block px-4 m-3">戻る</button>
      <% end %>

  </div>
</div>
