<div class = "container">
  <div class = "row">
    <div class = "col-md-1"></div>
    <h4 class = "pt-2 my-4 ">温泉情報一覧</h4>

    <div class = "col-md-7 text-right">
      <%= link_to new_admin_onsen_path do %>
        <button type="button" class="btn btn-success text-md-block px-4 my-4">温泉情報 新規登録</button>
      <% end %>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-1"></div>
    <table class= "col-md-10 table border-bottom">
      <thead class = "table-active">
        <tr>
          <th>施設名</th>
          <th>住所</th>
          <th>営業時間</th>
        </tr>
      </thead>

      <tbody>
        <% @onsens.each do |onsen| %>
          <tr>
            <td>
              <%= link_to admin_onsen_path(onsen.id) do %>
                <%= onsen.name %>
              <% end %>
            </td>
            <td><%= onsen.address %></td>
            <td><%= onsen.opening_hours %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>


