<div class = "container">
  <div class = "row">
    <div class = "col-md-1"></div>
    <h4 class = "border-bottom w-75 pt-2 my-4 ">♨温泉一覧</h4>
  </div>

  <div class = "row">
    <div class = "col-md-1"></div>
    <div class="search_form border rounded p-3 m-2">
      <p class = "text-center">--- 絞り込み検索 ---</p>
      <%= form_with model: @onsen, url: search_public_onsens_path, local: true, method: :get do |f| %>
        <%= f.text_field :address, placeholder: "地名検索", class: "mb-1" %><br>
        <%= f.label :informations, "- 施設情報を選ぶ -", class: "mt-2" %><br>
        <%= f.collection_check_boxes :informations, Information.all, :id, :name, include_hidden: false %><br>
        <p class = "text-center"><%= f.submit "検索", class: "btn btn-warning rounded-pill w-25 mt-2 " %></p>
      <% end %>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-1"></div>
    <table class= "col-md-10 table table-hover border-bottom">
      <thead class = "table-active">
        <tr>
          <th>施設名</th>
          <th>住所</th>
          <th>営業時間</th>
          <th>施設情報</th>
        </tr>
      </thead>

      <tbody>
        <% @onsens.each do |onsen| %>
          <tr>
            <td>
              <%= link_to public_onsen_path(onsen.id) do %>
                <%= onsen.name %>
              <% end %>
            </td>
            <td><%= onsen.address %></td>
            <td><%= onsen.opening_hours %></td>
            <td>
              <% onsen.informations.each do |information| %>
            <%= information.name %>
          <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @onsens %>
</div>


