<div class = "container">

  <div class = "row">
    <div class = "col-md-1"></div>
      <%= link_to public_onsens_path do %>
        <button type="button" class="btn btn-outline-warning rounded-pill text-md-block px-4 m-3">＜ 戻る</button>
      <% end %>
  </div>

  <div class = "row">
    <div class = "col-md-1"></div>
    <h4 class = "border-bottom w-75 pt-2 my-4 ">温泉詳細<h4>
  </div>

  <div class ="row-md-11">
    <% if user_signed_in? %>
      <% if @onsen.stamped_by?(current_user) %>
        <p class = "text-center">
          <%= link_to public_onsen_stamps_path(@onsen.id), method: :delete do %>
             <button type="button" class="btn btn-warning rounded-pill"><i class="fa-sharp fa-solid fa-stamp"></i>スタンプを取り消す</button>
          <% end %>
        </p>
        <% else %>
        <p class = "text-center">
          <%= link_to public_onsen_stamps_path(@onsen.id), method: :post do %>
            <button type="button" class="btn btn-outline-warning rounded-pill"><i class="fa-sharp fa-solid fa-stamp"></i>スタンプを押す</button>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class = "row" >
    <div class ="col-md-2"></div>
    <table class = "col-md-9">
      <tr>
        <th class = "font-weight-normal pr-2">施設名</th>
        <td><%= @onsen.name %></td>
      </tr>
      <tr>
        <th class = "font-weight-normal align-top pr-2">住所</th>
        <td><%= @onsen.address %></td>
      </tr>
      <tr>
        <th class = "font-weight-normal pr-2">営業時間</th>
        <td><%= @onsen.opening_hours %></td>
      </tr>
       <tr>
        <th class = "font-weight-normal pr-2">料金</th>
        <td><%= @onsen.price %></td>
      </tr>
       <tr>
        <th class = "font-weight-normal pr-2">施設情報</th>
        <td>
          <% @onsen.informations.each do |information| %>
            <%= information.name %>
          <% end %>
        </td>
      </tr>
       <tr>
        <th class = "font-weight-normal pr-5">泉質</th>
        <td><%= @onsen.spring_quality %></td>
      </tr>
    </table>
  </div>

  <div class = "row-md-11">
      <div class = "text-center">
        <% if user_signed_in? %>
        <%= link_to new_public_onsen_review_path(@onsen) do %>
           <button type="button" class="btn btn-warning rounded-pill text-md-block px-4 m-3">日記を書く</button>
  　    <% end %>
  　    <% end %>
　   </div>
  </div>

  <div class = "row">
    <div class = "col-md-1"></div>
    <h4 class = "border-bottom w-75 pt-2 my-4 ">日記投稿一覧<h4>
  </div>

  <div class = "row d-flex mt-2">
    <% @onsen.reviews.each do |review| %>
      <div class = "col-md-3">
        <p>
          <%= link_to public_onsen_review_path(review.onsen, review.id) do %>
            <%= review.user.name %>
          <% end %><br>
          <%= review.created_at.strftime('%Y/%m/%d') %><br>
          <%= review.review.truncate(25) %><br>
          <span id="star-rate-<%= review.id %>"></span>
          <script>
            $('#star-rate-<%= review.id %>').raty({
              size: 36,
              starOff: "<%= asset_path('star-off.png') %>",
              starOn: "<%= asset_path('star-on.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              half: true,
              readOnly: true,
              score: <%= review.rate %>,
            });
          </script>
        </p>
      </div>
    <% end %>
  </div>
</div>