<div class = "container vh-100">
    <div class = "row mt-5">
      <div class = "col-md-3"></div>
      <table>
        <%= form_with model: @user, url: user_session_path  do |f| %>
          <tr>
            <th class= "px-5 font-weight-normal"><%= f.label :email, "メールアドレス" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email"%></td>
          </tr>
          <tr>
            <th class= "px-5 font-weight-normal"><%= f.label :password, "パスワード" %></th>
            <td><%= f.password_field :password, autocomplete: "current-password"%></td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit "ログイン", class: "btn btn-warning rounded-pill px-5 mt-4 mb-4"  %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class = "row">
    <div class = "col-md-3"></div>
    <div class = "col-md-7 border-top"></div>
    </div>

    <div class = "row mx-auto">
      <div class = "col-md-5"></div>
      <p class = "pt-4 text-center my-1 ">会員登録がお済みでない方</p>
    </div>

    <div class = "row mx-auto mb-3">
      <div class = "col-md-5"></div>
      <div>
        <%= link_to new_user_registration_path do %>
          <button type="button" class="btn btn-outline-warning rounded-pill px-5 mt-1 mb-4">新規登録</button>
        <% end %>
      </div>
    </div>
</div>